@model IglaClub.Web.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}
<div class="row">
    <div class="col-md-12 column-padding">
        
        <fieldset class="login">
            <legend>Create an account</legend>
            @Html.Partial("_RegisterPartial", new ViewDataDictionary { { "showMoreFields", true } })
        </fieldset>
    </div>
</div>
