* {
    margin: 0;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    margin: 0;
}

.container {
    margin-bottom: 50px;
}

.wrapper {
    min-height: 350px;
    margin-bottom: 50px;
}

.logo {
    background: url(img/logo.jpg) no-repeat 0 -288px;
    width: 100%;
    height: 100px;
    background-size: cover;
    opacity: 0.5;
    border-radius: 8px;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

@media (min-width: 768px) {
    .navbar {
        border-radius: 0 0 8px 8px;
    }
}


input:not([type="submit"]):not([type="button"]):not([type="checkbox"]), select, textarea {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    display: inline-block;
    height: 25px;
    padding: 4px 6px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    outline: none;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    cursor: auto;
    font: -webkit-small-control;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    /*text-align: start;*/
    -webkit-writing-mode: horizontal-tb;
}

.fullWidthInput input[type="text"], input[type="number"], input[type="email"], select, textarea {
    width: 100%;
}

fieldset.create-tournament input, fieldset.create-tournament textarea, fieldset.create-tournament select {
    width: 350px ;
}

textarea {
    -webkit-appearance: textarea;
    height: 100px;
}

.field-validation-error {
    font-size: small;
    color: orangered;
}

button a, a:hover {
    color: inherit;
}

button.login a {
    color: black;
}

list-inline a, a:hover {
    color: blue;
}

.btn-small {
    height: 25px;
    font-size: small;
    padding: 1px 5px;
}

.icon-with-margin {
    margin: 0 10px;
}
.blue {
    background-color: cornflowerblue;
}
.pairs {
    border: 1px solid rgb(218, 218, 218);
    padding: 10px;
    box-shadow: rgb(240, 240, 240) 5px 5px;
    /*margin:10px 0;*/
    max-width: 500px;
    margin-bottom: 15px;
}

    .pairs input[type="text"] {
        width: 80px;
    }

.action-pane button {
    margin: 10px 10px 10px 10px;
    max-width: 500px;
}

/*------------results-----------------*/
.result tr td input {
    width: 100px;
    height: 25px;
    border: 1px rgb(128, 128, 128) solid;
}

    .result tr td input[type="text"] {
        width: 60px;
    }

    .result tr td input[type="number"] {
        width: 55px;
    }

.result tr td select {
    width: 130px;
    height: 25px;
}

.result tr td number {
    width: 130px;
    height: 25px;
    border: 1px rgb(128, 128, 128) solid;
}

table.result {
    font-size: x-small;
}

.home-text {
    padding: 15px;
    font-size: 20px;
    text-indent: 30PX;
}

.btn {
    margin: 2px;
}

.defaultMargin {
    margin: 15px;
}

.roundChooser {
    width: 100px;
}

.tournamentShortInfo {
    max-width: 500px;
}

    .tournamentShortInfo .descr-label {
        color: rgb(25, 56, 113);
        font-weight: bold;
    }
.user-subscribe-box {
    border-bottom: 1px silver dashed; margin-bottom: 10px; padding-bottom: 10px;
}
#participantsDiv .user-subscribe-box select {
    width: auto;
}

.tournemanet-quick-edit {
    line-height: 2em;
    vertical-align: text-bottom;
    margin-left: 10px;
}

    .tournemanet-quick-edit a {
        padding-right: 10px;
    }

.tournament-manage-area > div {
    padding-left: 0;
}

.quick-user-add {
    border: 1px solid silver;
}

.shadow-gradient-block {
    background: -webkit-linear-gradient(top, #f5f5f5 0%,#efefef 100%);
    border-radius: 7px;
    border: 1px solid #d8d8d8;
    box-shadow: 0px 0px 1px 1px white inset, 0px 33px 40px -38px #000;
    height: auto;
    max-width: 100%;
    margin: 15px 15px;
    padding: 25px;
    text-align: center;
}

    .shadow-gradient-block img {
        width: 82px;
    }

.active-tournaments {
    padding-bottom: 10px;
}

    .active-tournaments a {
        font-size: 18px;
        margin-left: 5px;
    }

    .active-tournaments img {
        vertical-align: initial;
    }

fieldset.login {
    margin: auto;
    width: 270px;
}

fieldset legend {
    color: steelblue;
    font-size: 2.5em;
}

header {
    margin-bottom: 20px;
}

.validation-summary-errors {
    background-color: #D9FFB2;
    border: 1px solid #5CBA30;
    width: 270px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 10px 5px 5px 0;
    font: small calibri;
}

span.validation-summary-errors {
    border-bottom-color: #D9FFB2;
    display: block;
}

ul.validation-summary-errors {
    margin: 0;
    padding: 0;
    border-top: none;
}

span.big-header {
    font-size: 38px;
    color: rgb(37, 87, 179);
    line-height: 2em;
}

span.medium-header {
    font-size: 28px;
    color: rgb(37, 87, 179);
    line-height: 2em;
}
span.small-header {
    font-size: 18px;
    color: rgb(37, 87, 179);
}

.about .who-label {
    color: rgb(25, 56, 113);
    font-size: 16px;
    font-weight: bold;
}

.glyphicon:empty {
    margin-right: 6px;
}

.indent100 {
    margin-left: 100px;
}

.indent30 {
    margin-left: 30px;
}

.lineheight5em {
    line-height: 5em;
}

.tournament-status {
    border-radius: 1em;
    font-size: 1em;
    padding: 5px 5px 8px 8px;
    color: white;
    font-weight: bold;
    margin-left: 2px;
    font-size: medium;
    vertical-align: bottom;
    margin-right: 10px;
}

    .tournament-status.planned {
        background-color: #3094e1;
    }

    .tournament-status.ongoing {
        background-color: #5cba30;
    }

    .tournament-status.past {
        background-color: darkgray;
    }

.edit-button {
    margin-left: 10px;
}

footer {
    /*background: -webkit-linear-gradient( left,white 1%, rgb(223, 223, 223) 50%, white 100%);
    padding: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 80px;
    width: 100%;
    overflow:no-display;
  border-top: 1px solid rgb(224, 224, 224);*/
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: #f5f5f5;
    display: block;
}

.footer-menu {
    color: gray;
    font-size: medium;
    text-align: center;
    margin: 10px 0;
}

    .footer-menu a {
        color: gray;
    }

        .footer-menu a:hover {
            color: rgb(20, 51, 131);
        }

.display-label {
    margin-top: 5px;
}

.form-wrapper {
    max-width: 400px;
}

#map-canvas {
    height: 150px;
    width: 300px;
    margin-bottom: 10px;
}
.quick-sign-up-block {
    padding: 20px 0 15px 0;
}
.quick-sign-up legend, .quick-sign-up .long-form {
    display: none;
}
.quick-sign-up fieldset {
    margin-top: 15px;
}
.quick-sign-up input {
    width: 150px;
    margin-right: 20px;
}
.quick-sign-up .editor-field {
    text-align: right;
}
.quick-sign-up .editor-label {
    display: inline;
  float: left;
    padding: 0 0 0 20px;
}











/**-------------------BOOTSTRAP IMPROVEMENTS--------------------*/

.navbar-custom {
    background: url(img/opacity-cards.png) no-repeat 0px -44px;
    background-size: cover;
    height: 100%;
    margin: 0 0 20px 0;border-radius: 0 0 8px 8px;
    padding: 8px 5px 5px 5px;
}

    .navbar-custom .navbar-brand {
        color: #ecf0f1;
    }

        .navbar-custom .navbar-brand:hover, .navbar-custom .navbar-brand:focus {
            color: #fdfdfd;
        }

    .navbar-custom .navbar-text {
        color: #ecf0f1;
    }

    .navbar-custom .navbar-nav > li > a {
        color: #ecf0f1;
    }

        .navbar-custom .navbar-nav > li > a:hover, .navbar-custom .navbar-nav > li > a:focus {
            color: #fdfdfd;
        }

    .navbar-custom .navbar-nav > .active > a, .navbar-custom .navbar-nav > .active > a:hover, .navbar-custom .navbar-nav > .active > a:focus {
        color: #fdfdfd;
        background-color: #002560;
    }

    .navbar-custom .navbar-nav > .open > a, .navbar-custom .navbar-nav > .open > a:hover, .navbar-custom .navbar-nav > .open > a:focus {
        color: #fdfdfd;
        background-color: #002560;
    }

    .navbar-custom .max-height {
        height: 100%;
    }

    .navbar-custom .navbar-toggle {
        border-color: #002560;
    }
    .navbar-custom .btn-default:hover {
        background-color: #bbc2ce;
        color: white;
    }

    .navbar-custom .navbar-toggle .icon-bar {
        background-color: #ecf0f1;
    }

    .navbar-custom .navbar-collapse,
    .navbar-custom .navbar-form {
        border-color: #ecf0f1;
    }

    .navbar-custom .navbar-link {
        color: #ecf0f1;
    }

        .navbar-custom .navbar-link:hover {
            color: #fdfdfd;
        }

    .navbar-custom .caret {
        border-top-color:rgb(59, 124, 173);
    }

    .navbar-custom .col-xs-4 {
        padding: 8px 12px 12px 0;
        height: 100%;
    }

    .navbar-custom .dropdown-menu {
        text-align: left;
    }

    .navbar-custom ul.dropdown-menu {
        background-color: slategray;
    }

    .navbar-custom .dropdown-menu > li > a {
        color: white;
        font-size: 14px;
        height: 100%;
    }

    .navbar-custom .main-menu > li > a {
        font-size: 18px !important;
    }

    .navbar-custom .dropdown-menu > li > a:hover,.navbar-custom .dropdown-menu > li > span:hover {
        color: slategray;
    }

@media (max-width: 767px) {
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
        color: #ecf0f1;
    }

        .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
            color: #fdfdfd;
        }

    .navbar-custom .navbar-nav .open .dropdown-menu > .active > a, .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #fdfdfd;
        background-color: #002560;
    }
}

.navbar-custom.login-partial.btn {
    padding-left: 24px;
    background-color: rgba(91, 112, 158, 1);
    font-weight: bolder;
    color: white;
}

.navbar-custom .login-partial ul.list-inline {
    margin-bottom: 0;
}
.login-mobile-partial {
  /*position: absolute;
  text-align: right;
  right: 0px;*/
}
.login-mobile-partial .dropdown-menu{
      margin: 0;
  position: fixed;
  left: 0;
  top: auto;
}
.login-mobile-partial .glyphicon {
    color: white;
    font-size: 6vw;
}
.login-mobile-partial .login-menu {
    position: absolute;
  right: 0;
}
.caret-black {
    border-top-color: #2C2C2C !important;
}



.caret-custom-menu {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-top: 11px solid #ffffff;
    border-right: 8px solid transparent;
    border-bottom: 0 dotted;
    border-left: 8px solid transparent;
    border-top-color: #FFFFFF;
}

.button-custom-menu {
    color: rgb(59, 124, 173);
    font-size: x-large;
    font-weight: bold;
    margin-right: 5px;
    background-color: transparent;
    border: none;
    display: inline-block;
    padding: 6px 12px;
    outline: none;
    height: inherit;
}
.main-menu .menu-sub-text{
      color: rgb(184, 221, 253);
  margin-left: 20px;
    white-space: nowrap;
    font-size: small;
}
.main-menu a{
    line-height: 18px;
}
.main-menu li{
      border-bottom: 1px dashed lightblue;
}


@media (max-width: 760px) {
    .container {
        padding-left: 0;
        padding-right: 0;
    }

    .navbar-custom {
        background-color: rgb(24, 102, 178);
        background-image: none;
        border-radius: 0;
        padding-left: 10px;
    }

    .navbar-custom ul {
        width: 100%;
    }
        .navbar-custom div.btn-group:last-child {
            float: right;
    }
    .navbar-custom .dropdown-menu {
        margin: 0;
        position: fixed;
        left: 0;
        top: auto;
    }

    .navbar-custom .caret {
        margin-left: 43%;
          display: block;
    }
    .navbar-custom .glyphicon:empty {
          margin-right: 6px;
  margin-top: 6px;
    }
    .navbar-custom .col-xs-12 {
        padding-left: 10px;
        padding-right: 0;
    }

    .navbar-header {
        text-align: left;
    }
    
    .button-custom-menu {
        margin: 0;
        padding: 0;
        font-size: 5vw;
    }
    .left-menu-button {
         min-width: 75px;
    }
    .start-info-block {
        display: none;
    }

    .row {
       padding-right: 8px;
    }
    .pairs {
        border: none;
        box-shadow: none;
        padding: 0;
    }
    
    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
        padding: 0 !important;
    }
    fieldset.login {
        width: auto;
    }
    .quick-sign-up-block input {
        max-width: 125px;
    }
    #map-canvas {
        width: auto;
    }
    fieldset.create-tournament input, fieldset.create-tournament textarea, fieldset.create-tournament select {
        width: 100%;
    }
}