html, body {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    /*margin: 0;*/
    /*margin-bottom: 70px;*/
    margin: 0;
    padding: 0;
    height: 100%;
}

.wrapper {
    min-height: 100%;
    position: relative;
}

.container {
    /*padding:10px;*/
    padding-bottom: 80px; /* Height of the footer element */
}

footer {
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #f5f5f5;
}
/*.container {
    min-height: 350px;
}*/
.row {
    padding: 0;
    margin: 0;
}


/*footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #f5f5f5;
    display: block;
}*/

.footer-menu {
    color: gray;
    font-size: medium;
    text-align: center;
    margin: 10px 0;
}

    .footer-menu a {
        color: gray;
    }

        .footer-menu a:hover {
            color: rgb(20, 51, 131);
        }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding: 0;
      margin-bottom: 8px;
}

    .col-xs-1:not(:last-child), .col-sm-1:not(:last-child), .col-md-1:not(:last-child), .col-lg-1:not(:last-child), .col-xs-2:not(:last-child), .col-sm-2:not(:last-child), .col-md-2:not(:last-child), .col-lg-2:not(:last-child), .col-xs-3:not(:last-child), .col-sm-3:not(:last-child), .col-md-3:not(:last-child), .col-lg-3:not(:last-child), .col-xs-4:not(:last-child), .col-sm-4:not(:last-child), .col-md-4:not(:last-child), .col-lg-4:not(:last-child), .col-xs-5:not(:last-child), .col-sm-5:not(:last-child), .col-md-5:not(:last-child), .col-lg-5:not(:last-child), .col-xs-6:not(:last-child), .col-sm-6:not(:last-child), .col-md-6:not(:last-child), .col-lg-6:not(:last-child), .col-xs-7:not(:last-child), .col-sm-7:not(:last-child), .col-md-7:not(:last-child), .col-lg-7:not(:last-child), .col-xs-8:not(:last-child), .col-sm-8:not(:last-child), .col-md-8:not(:last-child), .col-lg-8:not(:last-child), .col-xs-9:not(:last-child), .col-sm-9:not(:last-child), .col-md-9:not(:last-child), .col-lg-9:not(:last-child), .col-xs-10:not(:last-child), .col-sm-10:not(:last-child), .col-md-10:not(:last-child), .col-lg-10:not(:last-child), .col-xs-11:not(:last-child), .col-sm-11:not(:last-child), .col-md-11:not(:last-child), .col-lg-11:not(:last-child) {
        padding-right: 10px;
    }

.column-padding {
    padding-left: 6px;
    padding-right: 6px;
}

.column-padding-layout {
    padding-left: 6px;
    padding-right: 6px;
}

.table.tournaments > tbody > tr > td {
    vertical-align: middle !important;
}

.table.table-padding > tbody > tr > td {
    padding: 8px !important;
    vertical-align: middle !important;
}

.btn-toolbar:last-of-type {
    margin-bottom: 10px;
}

.navbar-header > .navbar-brand {
    font-variant: small-caps;
    text-shadow: 2px 2px rgb(211, 211, 211);
    font-weight: bold;
    color: rgb(36, 104, 163);
}

.spinner {
    width: 24px;
    height: 24px;
    background: url('img/spinner.gif');
    display: inline-block;
    vertical-align: middle;
    display: none;
}

.field-validation-error {
    font-size: small;
    color: orangered;
}

button a, a:hover {
    color: inherit;
}

button.login a {
    color: black;
}
a.btn {
    margin-bottom: 5px;
}
.editor-field {
    margin-bottom: 10px;
}

.submit-button {
    text-align: right;
}
.width-auto {
    width: auto !important;
    display: inline-block;
}

.btn-small {
    height: 25px;
    font-size: small;
    padding: 1px 5px;
}

.btn-short {
    padding: 1px 5px;
}

.btn-disabled {
    color: #EFEFEF;
    background-color: #D0D0D0;
    border-color: #BEBEBE;
}

.both-side-margins {
    margin: 0 10px;
}

.right-side-margin {
    margin-right: 10px;
}

.blue {
    background-color: cornflowerblue;
}

.pairs {
    border: 1px solid rgb(218, 218, 218);
    padding: 10px;
    box-shadow: rgb(240, 240, 240) 5px 5px;
    margin: 10px auto;
    /*margin: 15px 10px 15px 0;*/
}

/*.pairs input[type="text"] {
        width: 80px;
    }*/
.label .label-default .label-light-gray {
    opacity: 0.5;
}

.action-pane button {
    margin: 10px 10px 10px 10px;
    max-width: 500px;
}
/*table.tournamentsListTable {
    table-layout: fixed;
    word-break: break-all;
}*/
.table .table-noborder > tr > td {
    border: none;
}

tr td.squeeze {
    padding: 3px !important;
    width: 1%;
    white-space: nowrap;
    font-size: small;
}
/*------------results-----------------*/
.single-result-edit .btn {
    white-space: normal;
    padding: 6px;
}

.single-result-edit .form-inline .form-group .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

.result tr td input {
    width: 100px;
    height: 25px;
    border: 1px rgb(128, 128, 128) solid;
}

    .result tr td input[type="text"] {
        width: 60px;
    }

    .result tr td input[type="number"] {
        width: 55px;
    }

.result tr td select {
    /*width: 130px;*/
    height: 25px;
}

.result tr td number {
    width: 130px;
    height: 25px;
    border: 1px rgb(128, 128, 128) solid;
}

table.result {
    font-size: x-small;
}

i.glyphicon.result-icon {
    width: 16px;
    height: 16px;
    margin-left: 2px;
}

    i.glyphicon.result-icon.spade {
        background: url('img/cards/spade-icon.png');
    }

    i.glyphicon.result-icon.club {
        background: url('img/cards/club-icon.png');
    }

    i.glyphicon.result-icon.heart {
        background: url('img/cards/hearts-icon.png');
    }

    i.glyphicon.result-icon.diamond {
        background: url('img/cards/diamonds-icon.png');
    }

.home-text {
    padding: 15px;
    font-size: 20px;
    text-indent: 30PX;
}

.home-text-big {
    margin-top: 12px;
    font-size: 44px;
}

    .home-text-big > .name {
        font-weight: bold;
        text-shadow: 4px 4px rgb(37, 83, 153);
        font-variant: small-caps;
    }

.justify-hack {
    width: 100%;
    height: 1em;
    display: inline-block;
}
/*.btn {
    margin: 2px;
}*/
.large-font {
    font-size: x-large;
}

.defaultMargin {
    margin: 15px;
}

.roundChooser {
    width: 100px;
}

.tournamentShortInfo {
    max-width: 500px;
    margin-bottom: 10px;
}

    .tournamentShortInfo .descr-label {
        color: rgb(25, 56, 113);
        font-weight: bold;
    }

.user-subscribe-box {
    border-bottom: 1px silver dashed;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

#viewdetails {
    border: 1px dashed rgb(207, 207, 207);
    padding: 10px;
    margin-bottom: 10px;
}

.round-info {
    margin-top: 10px;
}

    .round-info label {
        margin-right: 20px;
        font-size: large;
    }

#participantsDiv .user-subscribe-box select {
    width: auto;
}

.tournemanet-quick-edit {
    line-height: 2em;
    vertical-align: text-bottom;
    margin-left: 10px;
}

    .tournemanet-quick-edit a {
        padding-right: 10px;
    }

.tournament-manage-area > div {
    padding-left: 0;
}

.quick-user-add {
    border: 1px solid silver;
}

.shadow-gradient-block {
    background: -webkit-linear-gradient(top, #f5f5f5 0%,#efefef 100%);
    border-radius: 7px;
    border: 1px solid #d8d8d8;
    box-shadow: 0 0 1px 1px white inset, 0 33px 40px -38px #000;
    height: auto;
    max-width: 100%;
    margin: 15px 0;
    text-align: center;
}

.start-text-block {
    /*background: -webkit-linear-gradient(top, #A9CBFF 0%,#7593C2 100%);
  font-weight: bold;
  box-shadow: 0 0 1px 1px rgb(94, 132, 213) inset, 0 33px 40px -38px #000;*/
    border: none;
    box-shadow: none;
    background: rgb(49, 129, 199);
    color: white;
}

.shadow-gradient-block.action {
    padding: 25px;
}

.shadow-gradient-block img {
    width: 82px;
}

.active-tournaments {
    padding-bottom: 10px;
}

    .active-tournaments a {
        font-size: 18px;
        margin-left: 5px;
    }

.green-link {
    color: #20B920;
}

fieldset.login {
    margin: auto;
    max-width: 285px;
}

fieldset legend {
    color: steelblue;
    font-size: 2em;
}

/*header {
    margin-bottom: 20px;
}*/

.validation-summary-errors {
    background-color: #D9FFB2;
    border: 1px solid #5CBA30;
    width: 270px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 10px 5px 5px 0;
    font: small calibri;
}

span.validation-summary-errors {
    border-bottom-color: #D9FFB2;
    display: block;
}

ul.validation-summary-errors {
    margin: 0;
    padding: 0;
    border-top: none;
}

span.big-header {
    font-size: 38px;
    /*color: rgb(37, 87, 179);*/
    color: #9E9E9E;
    line-height: 2em;
}

span.medium-header {
    font-size: 28px;
    color: #9E9E9E;
    line-height: 2em;
}

span.small-header {
    font-size: 18px;
    color: #9E9E9E;
}

.about .who-label {
    color: rgb(25, 56, 113);
    font-size: 16px;
    font-weight: bold;
}

.glyphicon.success {
    color: rgb(45, 214, 45);
}

.indent100 {
    margin-left: 100px;
}

.indent30 {
    margin-left: 30px;
}

.lineheight5em {
    line-height: 5em;
}

.dropdown-menu > li > a {
    color: #2649A3;
    font-size: large;
}

    .dropdown-menu > li > a > span {
        font-size: small;
        color: gray;
    }

.tournament-status {
    border-radius: 1em;
    font-size: 1em;
    padding: 5px 5px 8px 8px;
    color: white;
    font-weight: bold;
    margin-left: 2px;
    font-size: small;
    vertical-align: initial;
    opacity: 0.6;
    text-align: center;
    /*white-space: nowrap;*/
}

    .tournament-status .glyphicon {
        display: none;
        /*white-space: nowrap;*/
    }

    .tournament-status.planned {
        background-color: #3094e1;
    }

    .tournament-status.ongoing {
        background-color: #5cba30;
    }

    .tournament-status.past {
        background-color: darkgray;
    }

.edit-button {
    margin-left: 10px;
}

.display-label {
    margin-top: 5px;
}

.form-wrapper {
    max-width: 400px;
}

#map-canvas {
    height: 150px;
    width: 300px;
    margin-bottom: 10px;
}

.quick-sign-up-block {
    padding: 18px 47px;
}

.quick-sign-up legend, .quick-sign-up .long-form {
    display: none;
}

.quick-sign-up fieldset {
    margin-top: 15px;
}

.quick-sign-up input {
    width: 150px;
    margin-right: 20px;
}

.quick-sign-up .editor-field {
    text-align: right;
}

.quick-sign-up .editor-label {
    display: inline;
    float: left;
    padding: 0 0 0 20px;
}




@media (max-width: 760px) {
    .container {
        padding-left: 0;
        padding-right: 0;
    }

    .row {
        padding: 0;
        margin: 0;
    }
    /*footer {
        position: static;
    }*/
    .navbar {
        margin-bottom: 10px;
        margin-left: 0;
        margin-right: 0;
    }

    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        padding: 0;
    }

    .table-small-padding > tbody > tr > td {
        padding: 3px !important;
    }

    tr td.squeeze {
        font-size: small;
    }

    span.medium-header {
        font-size: 18px;
    }

    span.small-header {
        font-size: 14px;
    }

    .active-tournaments a {
        font-size: 14px;
    }

    .dropdown-menu > li > a > span {
        display: none;
    }

    .pairs {
        border: none;
        box-shadow: none;
        padding: 0;
    }

    fieldset.login {
        width: auto;
    }

    fieldset legend {
        font-size: 1.5em;
    }

    #map-canvas {
        width: auto;
    }

    fieldset.create-tournament input, fieldset.create-tournament textarea, fieldset.create-tournament select {
        width: 100%;
    }

    .tournament-status {
        padding: 2px 5px 3px 6px;
        font-size: x-small;
    }

    .small-padding-mobile {
        padding-left: 5px;
        padding-right: 0;
    }

    .tournament-status .tournament-status-text {
        display: none;
    }
}
