@using IglaClub.ObjectModel.Enums
@model IglaClub.Web.Models.ViewModels.PairsResultsViewModel

<style>
    label, input { display:block;font-size: small;}
    input.text { margin-bottom:0px; width:95%; padding: .4em; }
    fieldset { padding:0; border:0; margin-top:25px; }
</style>
<div id="pairsResults" style="float: right" >
@{
    var pointsHeader = "Wynik";
    if (Model.TournamentScoringType == TournamentScoringType.Imps)
    {
        pointsHeader += "(punkty)";
    }
}
    <table>
        <tr><th></th><th>Para</th><th></th><th></th>
            <th>@pointsHeader</th>

        </tr>
        @for (int i = 0; i < Model.PairsInTounament.Count; i++)
        {
            var p1Name = (Model.PairsInTounament[i].Player1 == null ? "Unknown" : Model.PairsInTounament[i].Player1.Name);
            var p2Name = (Model.PairsInTounament[i].Player2 == null ? "Unknown" : Model.PairsInTounament[i].Player2.Name);
            //var rank = i + 1;
            <tr>
                <td>@(i+1).</td>
                <td>
                    @p1Name
                </td>
                <td>
                    @p2Name
                </td>
                <td></td>
                <td>
                    @if (Model.TournamentScoringType == TournamentScoringType.Imps)
                    {
                        @Model.PairsInTounament[i].Score
                    }
                    else
                    {
                        var s = "0";
                        if (Model.PairsInTounament[i].Score > 0)
                        {
                            s = string.Format("{0:P} ({1})", Model.PairsInTounament[i].Score/
                                                             Model.PairNumberMaxPoints.FirstOrDefault(p => p.Key == Model.PairsInTounament[i].PairNumber).Value, Model.PairsInTounament[i].Score);
                        }
                    
                        <span>@s</span>
                    }

                </td>
            </tr>
        }</table>
</div>