@model IglaClub.Web.Models.ViewModels.Clubs.ClubMembersViewModel
@*todo: subscribe*@
@*todo: club handling*@
@if (Model.Users.Any())
{
    <table class="table table-striped table-hover">
    
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.DisplayName</td>
                @if(user.Login == Context.User.Identity.Name)
                {
                    <td>@Html.ActionLink("Unsubscribe", "Unsubscribe", "Clubs", new { user.Id },null)</td>
                }
            </tr>
        }
    </table>
}