@model IEnumerable<IglaClub.ObjectModel.Entities.User>
@*todo: subscribe*@
<button type="button" class="btn btn-primary btn-small" id="pairSearchSubmit">Subscribe</button>
@if (Model.Any())
{
    <table class="table table-striped table-hover">
    
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Login</td>
                <td>@user.Name</td>
                <td>@Html.ActionLink("Unsubscribe", "Unsubscribe", "Clubs", new { user.Id },null)</td>
            </tr>
        }
    </table>
}