@using IglaClub.Web.Models.ViewModels.Clubs
@model ClubsIndexViewModel

@{
    ViewBag.Title = "Clubs";
}
<p>Are you looking for bridge club in your neighbourhood? Do you want to contact this club administrator? Here is a best place to do that.</p>

@Html.Partial("_ClubsList", new ClubsListViewModel
    {
        Header = "My clubs", 
        Clubs = Model.ClubsWithSubscribedUser.Select(x => 
            new ClubViewModel
            {
                Club = x, 
                MembersCount = x.ClubUsers.Count
            }).ToList(),
        User = Model.User
    })
@Html.Partial("_ClubsList", new ClubsListViewModel
    {
        Header = "Other clubs", 
        Clubs = Model.ClubsWithNotSubscribedUser.Select(x => 
            new ClubViewModel
            {
                Club = x, 
                MembersCount = x.ClubUsers.Count
            }).ToList(),
        User = Model.User,
        SubscribeMode = true
    })
