@if (Request.IsAuthenticated) {
    <text>
        Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }
    </text>
} else {
    <ul class="list-inline">

        <li>
            <a href="@Url.Action("Register","Account", new { id = "registerLink" })"
               class="btn btn-default btn-group">
                Register
            </a>
        </li>
        <li>
            <a href="@Url.Action("Login", "Account", new { id = "loginLink" })"
               class="btn btn-default btn-group">
               Log in
            </a>
        </li>
    </ul>
}
