@model IglaClub.Web.Models.RegisterModel

@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", placeholder = "Your email address" })
    </div>
    <div class="form-group">
        @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Type password" })
    </div>
    <div class="form-group">
        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm password" })
    </div>
    <button type="submit" class="btn btn-success btn-lg">Sign up!</button>

}