<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="EnvName" value="PROD" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add key="EnvHost" value="iglaclub.azurewebsites.net" xdt:Transform="Replace" xdt:Locator="Match(name)" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>