@using IglaClub.ObjectModel.Enums
@model IglaClub.ObjectModel.Entities.Tournament

@{
    string linkLabel = "Generate<br/>next round";
    var action = "GenerateNextRound";
    //"If everything is ok, generate boards and placing for the next round."
    bool notFinishedYet = (bool)ViewData["notFinishedYet"];
    var btnClass = notFinishedYet ? "default disabled" : "success";
    var title = notFinishedYet ?
        "Wait for all users to provide their results or edit results by yourself with \"Edit results\" button" :
        "Generate next round for the tournament and let users enter their results";
}
@if (Model.TournamentMovingType != TournamentMovingType.Cavendish)
{
    action = "MoveToNextRound";
    linkLabel = "Move to the next round";
    title = "";
}
<div title="@title">
<a href="@Url.Action(action, new { tournamentId = Model.Id, withPairsRepeat = false })" class = "btn btn-@btnClass btn-short" >
    <i class="glyphicon glyphicon-arrow-right right-side-margin"></i>@Html.Raw(linkLabel)
</a></div>
