@using IglaClub.ObjectModel.Enums
@model IglaClub.ObjectModel.Entities.Tournament

@{
    string linkLabel = "Generate next round";
    var action = "GenerateNextRound";
    //"If everything is ok, generate boards and placing for the next round."
}
@if (Model.TournamentMovingType != TournamentMovingType.Cavendish)
{
    action = "MoveToNextRound";
    linkLabel = "Move to the next round";
}
<a href="@Url.Action(action, new { tournamentId = Model.Id, withPairsRepeat = false })" class = "btn btn-info pull-right">
    <i class="glyphicon glyphicon-arrow-right right-side-margin"></i>@linkLabel
</a>
