@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "../Shared/_Layout.cshtml";
}
<style type="text/css">
      #map-canvas {
        height: 500px;
      }
    </style>
<span class="medium-header">All tournaments</span>

    <script type="text/javascript"
            src="http://www.google.com/jsapi?autoload={'modules':[{name:'maps',version:3,other_params:''}]}"></script>
    <script type="text/javascript">
        function init() {
            var mapDiv = document.getElementById('map-canvas');
            var map = new google.maps.Map(mapDiv, {
                center: new google.maps.LatLng(50.06139, 19.93833),
                zoom: 13,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });
        }

        google.maps.event.addDomListener(window, 'load', init);
    </script>

<div id="map-canvas"></div>