@model IglaClub.Web.Models.ViewModels.TournamentListViewModel

<span class="medium-header blue-header">Tournaments in club:</span>
<div class="row">
    <div class="col-md-12">
        @foreach (var list in @Model.TournamentsList)
        {
            @Html.Partial("_TournamentList", @list)
        }
    </div>
</div>