@model IglaClub.Web.Models.ViewModels.TounamentSingleListViewModel

@{
    ViewBag.Title = "Tournaments on map";
}

<span class="medium-header">Tournaments on map</span>

<p> This functionality is under construction. </p>
