@model IEnumerable<IglaClub.ObjectModel.Entities.Tournament>

<h2 class="center-block">Tournaments</h2>

<a href="@Url.Action("Create")"
   class="btn btn-info btn-small">
    <span class="glyphicon glyphicon-plus-sign"></span>
    Add tournament
</a>


<div class="row">
    <div class="col-md-4 oncoming">
        <h3>Oncoming</h3>
        @Html.Action("Oncoming")
    </div>
    <div class="col-md-4 ongoing">
        <h3>Ongoing</h3>
        @Html.Action("Ongoing")
    </div>
    <div class="col-md-4 past">
        <h3>Past</h3>
        @Html.Action("Past")
    </div>
    
</div>


