@model IEnumerable<IglaClub.ObjectModel.Entities.Tournament>


<div>
    @Html.ActionLink("New Tounament", "Create")
</div>
<p class="alert">ahahhaha ahahhah!!</p>
<span class="icon-search"></span>
<div class="tile oncoming">
    <p>Oncoming</p>
    @Html.Action("Oncoming")</div>
<div class="tile past">
    <p>Past</p>
    @Html.Action("Past")</div>
<div class="tile ongoing">
    <p>Ongoing</p>
    @Html.Action("Ongoing")</div>



