@model IglaClub.Web.Models.ViewModels.TounamentListViewModel

@{
    Layout = "../Shared/_Layout.cshtml"; 
}

<div class="row">
    <div class="col-md-12">
        
        <a href="@Url.Action("Create")" class="btn btn-info">
            <span class="glyphicon glyphicon-plus-sign right-side-margin"></span>Add tournament</a>
        <br />
        @foreach (var t in @Model.TournamentsList)
        {
            @Html.Partial("_TournamentList", @t)
        }
    </div>
</div>