@model dynamic

@{
    ViewBag.Title = "My Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12 column-padding">
        <span class="medium-header">My results</span>
        This feature is not available yet.
    </div>
</div>
