<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://iglaclub.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <MSDeployServiceURL>waws-prod-db3-003.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>iglaclub</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>$iglaclub</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="IglaClubConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:ejlbqduckq.database.windows.net,1433;Initial Catalog=IglaClub;Integrated Security=False;User ID=igiel@ejlbqduckq;Password=Justyna111;Connect Timeout=30;Encrypt=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="IglaClub.Web.Models.IglaClubDbContext, IglaClub.Web" MigrationConfiguration="IglaClub.Web.Migrations.Configuration, IglaClub.Web" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:ejlbqduckq.database.windows.net,1433;Initial Catalog=IglaClub;Integrated Security=False;User ID=igiel@ejlbqduckq;Password=Justyna111;Connect Timeout=30;Encrypt=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:ejlbqduckq.database.windows.net,1433;Initial Catalog=IglaClub;Integrated Security=False;User ID=igiel@ejlbqduckq;Password=Justyna111;Connect Timeout=30;Encrypt=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:ejlbqduckq.database.windows.net,1433;Database=IglaClub;User ID=igiel@ejlbqduckq;Password=Justyna111;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:ejlbqduckq.database.windows.net,1433;Initial Catalog=IglaClub;Integrated Security=False;User ID=igiel@ejlbqduckq;Password=Justyna111;Connect Timeout=30;Encrypt=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)IglaClubConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:ejlbqduckq.database.windows.net,1433;Initial Catalog=IglaClub;Integrated Security=False;User ID=igiel@ejlbqduckq;Password=Justyna111;Connect Timeout=30;Encrypt=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>