@model IEnumerable<IglaClub.ObjectModel.Entities.User>

@if (Model.Any())
{
    <table class="table table-striped table-hover">
    
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Login</td>
                <td>@user.Name</td>

            </tr>
        }
    </table>
}