@model IglaClub.Web.Models.ViewModels.Clubs.ClubMembersViewModel
@{
    var admins = Model.ClubUsers.Where(cu => cu.IsAdministrator).ToList();
    var members = Model.ClubUsers.Where(cu => !cu.IsAdministrator).ToList();
}

@if (admins.Any())
{

    <h3 class="blue-header small-header">Administrators</h3>
    <table class="table table-striped table-hover">

        @foreach (var clubUser in admins)
        {
            <tr>
                <td>@clubUser.User.DisplayName</td>
                @if (clubUser.User.Login == Context.User.Identity.Name)
                {
                    <td>@Html.ActionLink("Unsubscribe", "Unsubscribe", "Clubs", new { clubUser.Id }, null)</td>
                }
            </tr>
        }
    </table>
}

    @*todo: add more instead of showing all*@
    @if (members.Any())
    {
        <h3 class="blue-header small-header">Members</h3>
        <table class="table table-striped table-hover">

            @foreach (var clubUser in members)
            {
                <tr>
                    <td>@clubUser.User.DisplayName</td>
                    <td>@Html.ActionLink("Unsubscribe", "Unsubscribe", "Clubs", new { clubId = clubUser.ClubId, userId = clubUser.UserId }, null)</td>
                    
                </tr>
            }
        </table>
    }