@{
    ViewBag.Title = "About Igla Club";
}
<div class="about">
    <span class="big-header">WHAT</span>
    <p class="indent100">
        If you are bridge enthusiast and you want to organize small tournaments on your own, 
    or you are participating in those kind of events and you want to have a tool for better 
    organize and analyze them, you're in the rigth place. 
If you are not, it is the best place to become one of us:)
    </p>
    <span class="big-header">WHO</span>
    <div class="row indent100">
        <div>

            <span class="who-label">bridge player</span>
            <p>
                You can simply log in, and either find your local bridge club or look for a new one in your neighbourhood.
                      You can subscribe to the tournaments in your clubs, check results, track history of your play.
            </p>
        </div>
        <div>
            <span class="who-label">tournaments organizer</span>
            <p>
                You can organize new tournament and let people to <b>sign in</b> to it.
                But, the most importart what you can do here: you can easily <b>manage your tournament</b>.
                Enter board results, generate standings, rosters, and everything else what is important for 
                <b>tournament director</b>.
            </p>
        </div>
    </div>
    <span class="big-header">NEXT</span>
    <p class="indent100">
        Go to the <a href="@Url.Action("GetAll", "Tournament")">tournament list</a> and then
        <a href="@Url.Action("Login", "Account")">log in</a> or <a href="@Url.Action("Register", "Account")">register</a>
        to participate.
    </p>
</div>
