@{
    ViewBag.Title = "Contact";
}
<div class="row">
    <div class="col-md-12">
    <span class="big-header">Contact us</span>


    <p>If you have any comments or feedback, don't hesitate to contact us!</p>


    <i class="glyphicon glyphicon-envelope right-side-margin"></i><span>email</span>
        <a href="mailto:someemail@tobesetup?subject=[IglaClub]">some.email@to.be.setup.com</a>
        </div>
</div>

