@{
    ViewBag.Title = "Contact";
}

<span class="big-header">Contact us</span>
<p>If you have any comments or feedback, don't hesitate to contact us!</p>

<div class="row">
    <div class="indent100">
        <i class="glyphicon glyphicon-envelope"></i><span>email</span>
        <a href="mailto:bartlomiej.igla@gmail.com?subject=[IglaClub]">bartlomiej.igla@gmail.com</a>
    </div>
</div>
