@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

If you have any comments or you would like to start to use but there is something blocking you, don't hesitate to contact us!
@*<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>508-078-628</span>
    </p>
</section>*@

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Main contact:</span>
        <span><a href="mailto:bartlomiej.igla@gmail.com?subject=[IglaClub]">bartlomiej.igla@gmail.com</a></span>
    </p>
    
</section>
