@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>508-078-628</span>
    </p>
    
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Main contact:</span>
        <span><a href="mailto:bartlomiej.igla@gmail.com">bartlomiej.igla@gmail.com</a></span>
    </p>
    
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        <br />
        
    </p>
</section>