@{
    ViewBag.Title = "Hello";
}

<style type="text/css"></style>

<div class="row center-block" style=" margin:0 auto;">
    <div class="col-md-4 center-block">
        <div class="thumbnail">

            <img src="~/Content/img/1408214416_file_add.png" />
            <div class="caption">
                <h3>Create your tournament</h3>
                <p>and invite your friends!</p>
                <p>
                    <a href="@Url.Action("About","Home")" class="btn btn-primary" role="button">See more...</a> 
                    <a href="@Url.Action("Create", "Tournament")" class="btn btn-default" role="button">Create a tournament</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-4 center-block">
        <div class="thumbnail">

            <img src="~/Content/img/1408214039_search.png" />
            <div class="caption">
                <h3>Find a tournament...</h3>
                <p>... and sign up!</p>
                <p>
                    <a href="@Url.Action("About","Home")" class="btn btn-primary" role="button">See more...</a> 
                    <a href="@Url.Action("Index","Tournament")" class="btn btn-default" role="button">Find a tournament</a>
                </p>
            </div>
        </div>
    </div>

    @*<div class="col-sm-6 col-md-4">
            <div class="thumbnail">

                <img src="~/Content/img/1408214349_folder.png" />
                <div class="caption">
                          <h3>Review your results</h3>
                          <p>Review your results</p>
                          <p><a href="#" class="btn btn-primary" role="button">See more...</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                      </div>
            </div>
        </div>*@

</div>
<p class="home-text">
    If you are bridge enthusiast and you want to organize small tournaments on your own,
    or you are participating in those kind of events and you want to have a tool for better organize and analyze them, you're in the rigth place.
    If you are not, it is the best place to became one of us:)
</p>