@{
    ViewBag.Title = "Hello";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                If you are bridge enthusiast and you want to organize small tournaments on your own, 
                or you are participating in those kind of events and you want to have a tool for better organize and analyze them, you're in the rigth place. 
                If you are not, it is the best place to became one of us:)
            </p>
        </div>
    </section>
}

<h3>Don't hesitate and::</h3>
<ul class="round">
    <li class="one">
        Create your bridge tournament
    </li>
    <li class="two">
        Find existing one in your area
    </li>
</ul>