@model IEnumerable<IglaClub.ObjectModel.Entities.HelpEntry>

@{
    ViewBag.Title = "Frequently asked questions";
}
<span class="medium-header">Organiser FAQ</span>
<span class="small-header clearfix">We would like to help you here with a most common scenarios that you can face as tournament organiser </span>
<br/>
<div class="panel-group" id="accordion">
    @{
        int count = 0;
    }
    @foreach (var item in @Model)
    {
        <div class="" id="panel-@count">
            <div class="panel-heading">
                <span class="panel-title smaller-header blue-header">
                    <a data-toggle="collapse" data-target="#collapse-@count" 
                       href="#collapse-@count">
                        @item.Question <span class="caret"></span>
                    </a>
                </span>

            </div>
            <div id="collapse-@count" class="panel-collapse collapse">
                <div class="panel-body">@Html.Raw(item.Answer)</div>
            </div>
        </div>
        count++;
    }
</div>