@{
    ViewBag.Title = "Frequently asked questions";
}

<p>We would like to help you here with a most common scenarios that you can face as tournament or club organizator </p>

<p>During the fourth round of cavendish one pair has decided to go home</p>
<div>Just easily go to manage tournament -> show details -> edit and remove this pair. 
    If there are some boards that are generated to play by them, please go to the edit results and change played by to director score. Nextly, you should write NS and EW score from this board.</div>
<p>Somebody came during first round</p>
<p>I want to subscribe a player which does not have an accout in the system</p>